@font-face {
    font-family: "special_font";
    src: url('https://hacklogs.github.io/fonts/retron.ttf') format('truetype');
}
.red {
    color: #990000;
}
.green {
    color: #009900;
}
.green-dark {
    color: #027a02;
}
html {
    background: #1e1e1b;
    color: #c2c0c0;
    height: 100%;
    font-family: monospace;
}
body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.top_nav {
    float: none;
    align-self: center;
    text-align: center;
    font-size: 20px;
    margin-bottom: 35px;
    margin-top: 30px;
}
.top_nav a {
    margin-right: 5px;
    margin-left: 5px;
    color: #dddddd;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
article {
    float: none;
    align-self: center;
    text-align: left;
    font-family: monospace;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}
article p {
    font-size: 16px;
}
.post_meta {
    font-size: 16px;
    margin-top: -10px;
    margin-bottom: 25px;
}
.post_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    margin-bottom: 55px;
    border: 2px solid #313030;
    width: 60%;
}
.header_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    overflow: hidden;
    clip: rect(0px,60px,200px,0px);
}
footer {
    font-family: monospace;
    margin-top: 100px;
}
.title {
    text-align: left;
}
.title a {
    text-decoration: none;
    color: #c5c3c3;
}
.post_title a {
    text-decoration: none;
    color: #c5c3c3;
}
.center {
    text-align: center;
}
code.highlighter-rouge {
    background: #291717;
    border: 2px solid #313030;
    border-radius: 2px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td, th {
    border: 2px solid #534f4f;
    text-align: left;
    padding: 5px;
}

pre {
    overflow-x: auto;
}
.pagination {
    float: none;
    align-self: center;
    text-align: center;
    font-family: monospace;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}
.older, .newer {
    font-size: 13px;
}
.total_posts {
    font-size: 14px;
}
.crackme-challenges td {
    word-wrap: break-word;
}
@media only screen and (max-width: 990px) {
    /* Mobile */
    .resp_w { width: 90%; }
    .header_image { 
        width: 90%;
        height: 100%; 
    }
}
@media only screen and (min-width: 991px) {
    /* Desktops */
    .resp_w { width: 75%; }
    .header_image { 
        width: 35%;
        height: 39%; 
    }
}
@media only screen and (min-width: 1200px) {
    /* Wide screens */
    .resp_w { width: 60%; }
    .header_image { 
        width: 30%;
        height: 33%; 
    }
}

/* Share Bar */
#share-bar {
    font-size: 14px;
}

/* Title */
#share-bar h4 {
    margin-bottom: 10px;
    font-weight: 500;
}

/* All buttons */
.share-buttons {
}

/* Each button */
.share-button {
    margin: 0px;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
}
.share-button:hover {
    opacity: 1;
    color: #ffffff;
}

/* Facebook button */
.fa-facebook {
    color: #4566af;
}
.fa-facebook:hover {
    background-color: #4566af;
}

/* Twitter button */
.fa-twitter {
    color: #55acee;
}
.fa-twitter:hover {
    background-color: #55acee;
}

/* Reddit button */
.fa-reddit {
    color: #ff4500;
}
.fa-reddit:hover {
    background-color: #ff4500;
}

/* LinkedIn button */
.fa-linkedin {
    color: #007bb5;
}
.fa-linkedin:hover {
    background-color: #007bb5;
}

/* Email button */
.fa-envelope {
    color: #706f6f;
}
.fa-envelope:hover {
    background-color: #706f6f;
}

