---
layout: default
---

<!-- Pagination -->
<div class="pagination">
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="older">&lt;&lt; Older</a>
    {% else %}
        <span class="older">&lt;&lt; Older</span>
    {% endif %}
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="newer">
            Newer &gt;&gt;
        </a>
    {% else %}
        <span class="newer">Newer &gt;&gt;</span>
    {% endif %}
    <br>
    <span class="total_posts">
        Total posts: {{site.posts | size}}
    </span>
</div>

{% for post in paginator.posts %}
    <article class="resp_w">
        <div>
            <h2 class="post_title">
                <a href="{{post.url}}">
                    <span class="green">[</span>{{ post.title }}<span class="green">]</span>
                </a>
            </h2>
            <p class="post_meta green-dark">
                === Added on: {{ post.date | date: "%b %-d, %Y" }} ===
            </p>
        </div>
        {{post.excerpt}}
    </article>
{% endfor %}